fineweb10B/
pylog124M/
__pycache__/
logs/*
!logs/kmaxwell/
!logs/kmaxwell/**/
!logs/wave1/
!logs/wave1/**/
!logs/wave2/
!logs/wave2/**/
!logs/wave3/
!logs/wave3/**/
!logs/wave4_kill/
!logs/wave4_kill/**/
.DS_Store
